@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
	background: #fff;
	font-family: 'Lato', sans-serif;
	position: relative;
}

body:before {
	position: absolute;
	content: '';
	width: calc(50% - 300px);
	left: 0;
	top: 0;
	bottom: 0;
	background: #f5f5f5;
	border-right: 1px solid #dcdcdc;
	z-index: -1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
a {
    color: #0da58e;
    text-decoration: none;
}
a:hover,
a:focus {
	color: #075e51;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a[data-fancybox] img {
	cursor: zoom-in;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border: 0;
    border-left: 5px solid #eee;
    background-color: #FFF6D5;
    border-left-color: #F3E3AA;
    text-align: left;
}
blockquote p:before, blockquote p:after{
    display: none;
}
blockquote p:last-child {
	margin: 0px;
}
blockquote a, blockquote a:visited {
    color: #0da58e;
}

.btn:active {
    transform: translateY(1px);
}

.btn-primary {
	background: linear-gradient(0deg, #179C99 0%, #18B79C 100%);
	border-color: #18A19A;
	box-shadow: none !important;
}
.btn-primary:hover,
.btn-primary:focus {
	background: linear-gradient(0deg, #179C99 0%, #179C99 100%);
	border-color: #18A19A;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
	background: linear-gradient(0deg, #179C99 0%, #179C99 100%);
	border-color: #18A19A;
}

.navbar {
	padding: 14px 0px;
	margin-bottom: 40px;
}
.navbar.bg-dark {
	background: #444 !important;
}
.navbar-brand {
	line-height: 20px;
}
.navbar-brand img {
	width: 30px;
}
.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
	padding: 10px 15px;
}
.navbar-signin {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar-signin li {
	display: inline-block;
}
.navbar-signin li a,
.navbar-signin li span.navbar-text {
	padding: 10px;
	color: #ffffff;
}

.btn-outline-light {
	box-shadow: none !important;
}
.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active {
	box-shadow: none;
	color: #212529;
    background-color: #f8f9fa;
    text-decoration: none;
}

.btn-signup-trial {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.dark-mode .btn-signup-trial:after {
	background: #fff;
    content: "";
    height: 155px;
    left: -80px;
    opacity: .25;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    animation-name: try-btn-animation;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    box-shadow: 0 0 7px 7px #fff;
}

@keyframes try-btn-animation {
    0% {
        left: -90px
    }
    10% {
        left: 110px
    }
    to {
        left: 110px
    }
}

.btn-signup-trial:hover,.btn-signup-trial:focus,.btn-signup-trial:active {
    box-shadow: none;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    text-decoration: none;
}

.dark-mode .btn-signup-trial {
    background: #ff9a44;
    color: #fff;
    border: 1px solid #fc6076;
    background-image: linear-gradient(-20deg,#fc6076 0%,#ff9a44 100%);
    text-decoration: none;
}

.dark-mode .btn-signup-trial:hover,.dark-mode .btn-signup-trial:focus,.dark-mode .btn-signup-trial:active {
    color: #fff;
    background: #ff9a44;
    box-shadow: none;
    text-decoration: none;
    background-image: linear-gradient(-20deg,#ff9a44 0%,#fc6076 100%);
    text-decoration: none;
}

.sidebar-body, .main-content-body {
	min-height: 300px;
}
.sidebar-body {
	width: 300px;
    padding: 0px 15px;
}
.sidebar-body .input-group-text {
	background-color: #f0f0f0;
}
.sidebar-body .input-group-text i {
    margin: 2px 0px 0px 2px;
}
#searchList h3 {
	position: relative;
    display: block;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .12s ease-out;
}
#searchList ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#searchList ul li {
  	padding: 2px 0px;
}
#searchList ul li a {
  	position: relative;
	display: block;
	padding: 0px 10px;
	font-size: 13px;
	font-weight: 600;
	color: rgba(87,87,87,.8);
	transition: color .12s ease-out;
	text-decoration: none;
	text-transform: none;
}
#searchList ul li a:hover {
	color: #333333;
}
.main-nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.main-nav li > a {
	position: relative;
    display: block;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    transition: color .12s ease-out;
}
.main-nav > li > a {
	margin: 5px 0px;
    border: 1px solid #ced4da;
    background: #f0f0f0;
}
.main-nav li.li_dropdown a.li_parent:after {
	position: absolute;
	content: '\f105';
	top: 50%;
	right: 15px;
	margin-top: -7px;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.main-nav li.li_dropdown.active a.li_parent:after {
	content: '\f107';
}
.main-nav li.li_dropdown ul {
	display: none;
}
.main-nav li.li_dropdown.active ul {
	display: block;
}
.main-nav li > ul {
	margin: -5px 0px -5px 0px;
    padding: 10px 7px;
    list-style: none;
    border-left: 1px solid transparent;
}
.main-nav li > ul > li {
	padding: 0px;
}
.main-nav li > ul > li > a {
	position: relative;
    display: block;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(87,87,87,.8);
    transition: color .12s ease-out;
    text-decoration: none;
    text-transform: none;
}
.main-nav li ul > li > a:hover {
	color: #333333;
}
.main-nav li ul > li.active > a {
    color: #000000;
    background: #fff;
    margin-right: -22px;
    margin-left: -1px;
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 2px solid #0da58e;
}

.main-content {
	max-width: calc(100% - 300px);
}
.main-content-body {
    background: #ffffff;
    padding: 0px 0px 0px 40px;
}
.main-content-body h1 {
	margin-bottom: 30px;
	word-break: break-word;
}
.main-content-body h1:after {
	content: "";
    display: block;
    border-bottom: 1px solid #dddddd;
    margin-top: 30px;
}
.main-content-body h2 {
	font-size: 28px;
}
.main-content-body h3 {
	font-size: 26px;
}
.main-content-body img {
    max-width: 100%;
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
}
.main-content-body pre {
	padding: 0;
	margin: 20px 0 20px 0;
	background-color: transparent;
	border: 0;
	position: relative;
}
.main-content-body pre .label {
	position: absolute;
	top: 0;
	left: 0;
}
/*.main-content-body pre code {
	border: 1px solid #CFCFCF;
	background-color: #fff;
}*/

.hljs-wrapper {
	position: relative;
}

.btn-clipboard {
	position: absolute;
    top: 3px;
    right: 3px;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none !important;
}
.btn-clipboard:hover {
    color: #fff;
    background-color: #0da58e;
}

.hljs {
	padding: 25px;
	border-radius: 0px;
}
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
	/*color: #ff79c6;*/
	font-weight: bold;
}
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
	/*color: #50fa7b;*/
}
/*code.powershell.hljs {
	background-color: #333;
	color: #fff;
	border-color: #333;
}*/
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.pre-footer {
	margin-top: 100px;
	height: 93px;
	background: #333;
	padding: 12px 0px;
}
.pre-footer .container {
	position: relative;
}
.pre-footer .company-logo {
	position: absolute;
	left: 10px;
	top: -82px;
}
.pre-footer img {
	width: 222px;
}

footer .btn {
	width: 222px;
	outline: none;
}
footer .btn span {
	font-size: 22px;
	display: block;
	font-weight: 600;
}
footer .btn span.info {
	font-size: 14px;
	font-weight: 400;
}
footer .btn.btn-primary {
	background-color: #0da58e;
    border-color: #0da58e;
    color: #ffffff;
    text-decoration: none !important;
}
footer .btn.btn-primary:hover {
    background-color: #0d917d;
    border-color: #0d917d;
}

footer .links {
	padding: 46px 0px 30px 0px;
	background: #393939;
}
footer .links h5 {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 15px;
}
footer .links ul li a {
	color: #929292;
	font-size: 16px;
}
footer .social {
	text-align: center;
}
footer .social li a {
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,.05);
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    line-height: 38px;
    border: 1px solid rgba(255,255,255,.05);
    margin: 0;
}
footer .social li a:hover {
    background: rgba(255,255,255,.1);
}

footer .copyright {
	padding: 15px 0px;
	background: #242424;
}
footer .copyright p {
	font-size: 14px;
	margin: 0px;
	color: #666;
}
footer .copyright a {
	color: #999;
}

footer .footer-badges img {
	margin: 0px 3px;
	height: 40px;
}
footer .footer-badges img:last-child {
	margin-right: 0px;
}

.main-content-body h2 > a,
.main-content-body h3 > a,
.main-content-body h4 > a,
.main-content-body h5 > a,
.main-content-body h6 > a {
    color: inherit;
    text-decoration: none;
}

.main-content-body h2 > a > i,
.main-content-body h3 > a > i,
.main-content-body h4 > a > i,
.main-content-body h5 > a > i,
.main-content-body h6 > a > i {
    display: none;
    margin-left: 8px;
}

.main-content-body h2 > a:hover > i,
.main-content-body h3 > a:hover > i,
.main-content-body h4 > a:hover > i,
.main-content-body h5 > a:hover > i,
.main-content-body h6 > a:hover > i {
    display: inline-block;
}

#show-sidebar {
	margin: 0px 15px 20px 15px;
	text-decoration: none;
}
#show-sidebar span {
	display: inline-block;
	margin: 4px 2px;
}

#back-to-top {
	text-align: center;
	padding: 10px;
	width: 70px;
	margin: 0 auto;
	background: #333;
	color: #fff;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

/* Table Of Contents */
.toc {
	padding: 15px 20px;
    background: #f5f5f5;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
    display: inline-block;
    border-left: 3px solid #0da58e;
}
.toc h2 {
	font-size: 16px;
	margin-bottom: 15px;
}
.toc ul {
	list-style: none;
	margin: 0px;
}
.toc > ul,
.toc > ul > li > ul {
	padding: 0px;
}
.toc > ul > li > a {
	display: none;
}
.toc li ul {
	padding: 0px 0px 0px 30px;
}
.toc li a {
	color: #222;
	font-size: 15px;
}

.guides-boxes {
	display: flex;
    flex-grow: 1;
	flex-wrap: wrap;
	margin-right: -10px;
    margin-left: -10px;
	margin-bottom: 15px;
}
.guides-boxes .guide-col {
	margin-bottom: 15px;
	padding: 0 10px;
}
.guides-boxes .guide-col > a {
	display: block;
	height: 100%;
	color: #212529 !important;
	text-decoration: none;
}
.guides-boxes .guide-box {
	display: flex;
	flex-direction: column;
	padding: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
    background-image: linear-gradient( 150deg, #f5f5f5 0%, #f5f5f5 50%, #ffffff 50%, #ffffff 50%);
}
.guides-boxes .guide-box .guide-image {
	text-align: center;
	margin-bottom: 10px;
}
.guides-boxes .guide-box .guide-image img {
	border-radius: 50%;
	width: 100%;
	max-width: 80px;
	box-shadow: 0px 0px 0px 1px #e0e4e8;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
.guides-boxes .guide-box .guide-title {
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Codeblock tabs */
.md-fenced-code-tabs {
	background: #2e3440;
	margin-bottom: 20px;
}
.md-fenced-code-tabs .nav-tabs {
	background: #252b38;
	border-bottom: 1px solid #212838;
}
.md-fenced-code-tabs .nav-tabs .nav-item .nav-link {
	font-size: 12px;
    font-weight: 600;
    border: none;
    color: #818a91;
}
.md-fenced-code-tabs .nav-tabs .nav-item .nav-link.active {
	background-color: #3f4552;
	border: none;
	border-bottom: 1px solid #18a19a;
	color: #f8f8f8;
	border-radius: 0;
}
.md-fenced-code-tabs pre {
	margin: 0;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

@media (max-width: 1219px) {
	body:before {
		width: 300px;
	}
}

@media (max-width: 1199px) {
	body:before {
		width: calc(50% - 180px);
	}
}

@media (max-width: 991px) {
	body:before {
		width: calc(50% - 60px);
	}
	.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	footer .footer-badges {
		margin-bottom: 15px;
	}
	footer .social {
		margin-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	body:before {
		display: none;
	}
	body.sidebar-open {
		overflow: hidden;
		-webkit-touch-callout: none;
    	-webkit-user-select: none;
     	-khtml-user-select: none;
       	-moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
	}
	body.sidebar-open:after {
		position: absolute;
	    top: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,0.3);
	    content: '';
	    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	}
	.navbar-signin {
		padding: 5px;
	}
	.navbar-signin li.hidden-xs {
		display: none;
	}
	.navbar-nav-btn {
	    padding: 10px 15px;
	}
	.container {
		max-width: 100%;
	}
	.navbar .navbar-collapse {
		background: #444;
		margin: 15px -15px -15px -15px;
		border-top: 1px solid #555;
	}
	.sidebar {
	    width: 100%;
	    margin-bottom: 30px;
	    position: fixed;
    	top: 0;
	    left: -300px;
	    height: 100%;
	    background: #333;
	    overflow-y: auto;
	    z-index: 999;
	    width: 300px;
	    transition: 0.5s;
	}
	.sidebar.sidebar-active {
		transition: 0.5s;
		left: 0px;
	}
	.sidebar .sidebar-body {
		width: 100%;
		padding: 15px;
	}
	.sidebar .sidebar-body hr {
		border-color: #4d4d4d;
		margin: -2px -15px 15px -15px;
	}
	.sidebar .sidebar-body .input-group .input-group-prepend {
		background: #f5f5f5;
		border-top-left-radius: .25rem;
    	border-bottom-left-radius: .25rem;
	}
	#searchList {
		margin: 0px -15px;
		background: #393939;
	}
	#searchList h3 {
		color: #ffffff;
	}
	#searchList ul {
		padding: 15px;
		border-top: 1px solid #4d4d4d;
	}
	#searchList ul li a {
	    color: #929292;
	}
	#searchList ul li a:hover {
	    color: #fafafa;
	}
	.main-nav {
		height: 100%;
	}
	.main-nav > li > a {
	    background: #444;
	    border: none;
	}
	.main-nav li > a {
		color: #ffffff;
		font-size: 14px;
	}
	.main-nav li > ul > li > a {
		color: #929292;
		padding: 4px 8px;
	}
	.main-nav li ul > li.active > a {
		color: #0da58e;
		background: none;
		margin: 0px;
		border: none;
		border-radius: 0px;
	}
	.main-nav li ul > li > a:hover {
	    color: #fafafa;
	}
	.main-content {
	    max-width: 100%;
	    flex-basis: 100%;
	}
	.sidebar-body, .main-content-body {
	    min-height: auto;
	}
	.main-content-body {
	    padding: 20px 0px 0px 0px;
	}
}

@media screen and (max-width: 576px) {
	.pre-footer {
	    margin-top: 0px;
	    height: auto;
	    padding: 0px 0px 15px 0px;
	    text-align: center;
	}
	.pre-footer .company-logo {
	    position: relative;
	    left: initial;
	    top: initial;
	}
	.pre-footer .company-logo img {
		width: 150px;
		margin-bottom: 15px;
	}
	.pre-footer .btn.float-right {
		float: none!important;
		width: 100%;
		max-width: 320px;
	}
}
